<div class="container">
    <div class="content">
        <div class="header">
            <img src="assets/main-logo.png">
            <div class="tabs">
                <a class="header-item">Главная</a>
                <a class="header-item">О нас</a>
                <a class="header-item" href="">Помощь</a>
                <a class="bold header-item" href="">Санкт-Петербург</a>
                <a class="header-item" href="">+7 495 967 13 01</a>
            </div>
            <div class="personal-area-block">
                <a class="bold header-item" href="">Личный кабинет</a>
                <img src="assets/personal-area.png">
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="footer">
    <div class="main-footer">
        <div class="left column">
            <a href="" class="footer-item">Главная</a>
            <a href="" class="footer-item">О нас</a>
            <a href="" class="footer-item">Новости</a>
            <a href="" class="footer-item">Спецпредложения</a>
            <a href="" class="footer-item">Бизнес-предложения</a>
            <a href="" class="footer-item">Твоё будущее</a>
            <a href="" class="footer-item">Защити себя и близких</a>
            <a href="" class="footer-item">Защита сотрудников</a>
        </div>
        <div class="left column">
            <a href="" class="footer-item">Страховая документация</a>
            <a href="" class="footer-item">Финансовые показатели</a>
            <a href="" class="footer-item">Контакты</a>
            <a href="" class="footer-item">Карта сайта</a>
        </div>
        <div class="right column">
            <p class="grey-text">125252, г. Москва, ул. Зорге, д. 22 А, офис 811</p>
            <p class="grey-text">График работы главного офиса <br>125252, г. Москва, <br> ул. Зорге, д. 22 А, офис 811<br> Пн. - Чт. с 9:00 до 18:00 <br> Пт. с 9:00 до 16:45 <br> Сб-Вс выходной</p>
            <app-button>Как добраться</app-button>
        </div>
        <div class="right column">
            <p class="grey-text">Адрес для почтовых отправлений: 125252, г. Москва, а/я 28</p>
            <p class="footer-phone">тел.: +7 495 967 13 01</p>
            <p class="footer-item">Email для связи с нами <span class="email">info@prolife.ru</span></p>
            <div class="social-icons-group">
                <img src="assets/vk.png" width="40" height="40">
                <img src="assets/telegram.png" width="40" height="40">
                <img src="assets/facebook.png" width="40" height="40">
                <img src="assets/instagram.png" width="40" height="40">
            </div>
        </div>
    </div>


    <div class="sub-footer">
        <hr class="line">
        <p class="small-grey-text">© 1998 – 2021 ООО СК "ДЕЛО ЖИЗНИ". Все права защищены. Полное или частичное копирование любых материалов сайта запрещено. ООО СК «ДЕЛО ЖИЗНИ» осуществляет свою деятельность на основании лицензий ЦБ РФ:СЖ № 3870 от 24.03.2017СЛ № 3870 от 24.03.2017 Органом, осуществляющим полномочия по контролю и надзору за ООО СК «ДЕЛО ЖИЗНИ» является Банк России. Адрес официального сайта Банк России - www.cbr.ru.</p>
    </div>
</div>





