.container {
    margin: 0 140px 0 140px;

    .content {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            .tabs {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 60px;
            }

            .personal-area-block {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .header-item {
                font-size: 18px;
                font-weight: 300;

                &.bold {
                    font-weight: 400;
                }
            }
        }
    }
}

.lool {

}

.footer {
    .main-footer {
        display: flex;
        justify-content: space-between;
        padding: 80px 140px;
        background-color: #4A607A;

        .column {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 260px;

            &.left {

            }

            &.right {
                justify-content: space-between;
            }

            .footer-item {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 300;

                .email {
                    text-decoration: underline;
                    font-weight: 400;
                }
            }

            .grey-text {
                color: #9C9C9C;
            }

            .footer-phone {
                font-size: 24px;
                color: #FFFFFF;
            }

            .social-icons-group {
                height: 56px;
                display: flex;
                align-items: center;
                gap: 20px;
                vertical-align: center;
            }
        }
    }

    .line {
        border: 1px solid #9C9C9C;
        width: 100%;
    }

    .sub-footer {
        background-color: #4A607A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .small-grey-text {
            font-size: 14px;
            color: #9C9C9C;
            max-width: 1100px;
            text-align: center;
            margin: 35px 0;
        }
    }
}








