.buy-card {
    display: flex;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
    border-radius: 30px;
    margin-top: 30px;

    .buy-card-left {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 90px;

        .main-text {
            font-size: 36px;
            line-height: 43px;

            &.bold {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .text {
            color: #939CA6;
            margin-top: 24px;
            margin-bottom: 90px;
            text-align: left;
        }
    }
}

.h1 {
    font-weight: 500;
    font-size: 48px;
    margin-top: 100px;
    text-align: center;
    line-height: 57.28px;

    &.questions {
        margin-top: 0;
    }
}

.services-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.conditions-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.conditions-line {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;

    .conditions-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 320px;
    }

    .conditions-big-text {
        font-size: 64px;
    }

    .conditions-sub-line {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 400px;
    }

    .best-doctor-group {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;

        .best-doctor-text {
            font-size: 30px;
            font-weight: 600;
        }
    }
}

.questions-block {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-panel {
    display: flex;

    .opened-panel {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .trigger-button {
        max-width: 550px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}

.container {
    display: flex;
    justify-content: center;

    .todo-block {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        gap: 50px;
    }

    &.button {
        margin-top: 50px;
    }
}

.text {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    &.popup {
        text-align: left;
    }

    &.link {
        text-decoration: underline;
        color: #ddd0a4;
    }

    &.details {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 10px;
    }
}

.popup-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.popup-block {
    margin: 40px 170px;
    display: flex;
    justify-content: flex-start;

    &.right {
        justify-content: flex-end;
    }
}

.phone-number {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}


