<div class="buy-card">
    <div class="buy-card-left">
        <p class="main-text">Страховая программа <span class="bold main-text">Защита+</span></p>
        <p class="text">Одна из самых удобных и выгодных страховых программ предоставляемых гражданам России и
            иностранным гражданам.</p>
        <app-button class="buy-button">Купить</app-button>
    </div>
    <div class="buy-card-right">
        <img src="assets/bg-men.jpg">
    </div>
</div>

<h1 class="h1">О страховании</h1>

<div class="services-group">
    <img src="assets/service-icon-1.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-2.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-3.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-4.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-5.png" width="165" height="190" alt="" class="service-icon">
</div>

<h1 class="h1">Условия, которые мы предоставим Вам</h1>

<div class="conditions-group">
    <div class="conditions-line">
        <img src="assets/doctors-1.png" alt="bg-doctors.png" height="492" width="492">
        <div class="text-block">
            <span class="conditions-big-text">20+</span>
            <p class="conditions-text">Высококвалифицированных врачей к которым вы можете обращаться 24/7</p>
        </div>
    </div>
    <div class="conditions-line">
        <div class="conditions-sub-line">
            <div class="best-doctor-group">
                <img src="assets/doctor-star.png" width="74" height="72" alt="">
                <span class="best-doctor-text">BestDoctor</span>
            </div>
            <p class="conditions-text">Доступ в один из лучших медицинских сервисов в России</p></div>
        <img src="assets/phone.png" alt="" width="351" height="488">
    </div>
    <div class="conditions-line">
        <img src="assets/runner.png" alt="runner.png">
        <div class="text-block">
            <span class="conditions-big-text">600 000₽</span>
            <p class="conditions-text">Сумма страховой защиты от несчастного случая</p>
        </div>
    </div>
</div>


<h1 class="h1 questions">Часто задаваемые вопросы </h1>

<div class="questions-block">
    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Сколько раз в год можно обратиться к терапевту или педиатру по данной
            программе?</p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Сколько раз в год можно обратиться к узкому специалисту?</p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Как получить консультацию врача? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Какие врачи-специалисты представлены в сервисе, кроме терапевта и педиатра? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Как получить консультацию педиатра, если возраст ребенка меньше 1 года, и оформить
            на
            ребенка программу нельзя? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>
</div>

<h1 class="h1">Что делать, если произошел <br> страховой случай?</h1>

<div class="container">
    <div class="todo-block">
        <app-todo-item [isActive]="currentPopup === Popups.call" class="todo" (click)="showCallPopup()">
            <img src="assets/phone-call.png" width="50" height="50">
            <p class="text">Позвоните нам</p>
        </app-todo-item>

        <app-todo-item [isActive]="currentPopup === Popups.docs" class="todo" (click)="showDocsPopup()">
            <img src="assets/docs.png" width="45" height="50">
            <p class="text">Заполните <br> заявление</p>
        </app-todo-item>

        <app-todo-item [isActive]="currentPopup === Popups.status" class="todo" (click)="showStatusPopup()">
            <img src="assets/status.png" width="50" height="50">
            <p class="text">Узнайте статус решения вопроса</p>
        </app-todo-item>

        <app-todo-item [isActive]="currentPopup === Popups.archive" class="todo" (click)="showArchivePopup()">
            <img src="assets/archive.png" width="50" height="50">
            <p class="text">Полный архив всех условий</p>
        </app-todo-item>
    </div>
</div>

<div class="popup-block" [ngClass]="{right: isRightPopupActive}">
    <app-popup class="popup" *ngIf="currentPopup === Popups.call">
        <p class="popup text">Наш номер:</p>
        <p class="phone-number">+7 495 967 13 01</p>
    </app-popup>

    <app-popup [isDouble]="true" class="popup" *ngIf="currentPopup === Popups.docs">
        <div class="popup-double">
            <p><strong>Заполните заявление и подготовьте <br> необходимые документы.</strong></p>
            <p>Направьте документы в Страховую компанию <br> удобным для Вас способом:</p>
            <p>&bull; через <a class="link text">Личный кабинет</a></p>
            <p>&bull; письмом по адресу: 125252, г. Москва, а/я 28</p>
        </div>
        <div class="popup-double">
            <p><strong>Список необходимых документов для <br> заключения договора:</strong></p>
            <p>&bull; паспорт</p>
            <p>&bull; заявление на страхование</p>
            <p>&bull; иные документы - по запросу компании</p>
        </div>
    </app-popup>

    <app-popup class="popup" *ngIf="currentPopup === Popups.status">
        <p class="popup text">Узнать статус решения своего вопроса Вы <br> можете любым удобным для Вас способом:</p>
        <p>&bull; через <a href="" class="link text">Личный кабинет</a></p>
        <p>&bull; позвонить по номеру <a href="" class="link text">+7 495 967 13 01</a></p>
    </app-popup>

    <app-popup class="popup" *ngIf="currentPopup === Popups.archive">
        <app-button [isNarrow]="true">
            <span>СКАЧАТЬ ПОЛНЫЙ АРХИВ <br> ВСЕХ УСЛОВИЙ</span>
            <img src="assets/download.png" alt="" height="18" width="18">
        </app-button>
    </app-popup>
</div>

<h1 class="h1">Посмотреть полную <br> презентацию продукта</h1>
<div class="button container">
    <app-button>СКАЧАТЬ PDF</app-button>
</div>

<h1 class="h1">Уточнить детали</h1>
<p class="details text">Если вы не нашли ответа на свой вопрос, заполните <br> эту форму, а мы как можно быстрее ответим вам.</p>

<div class="container">
    <app-details-form class="details"></app-details-form>
</div>

