<div class="buy-card">
    <div class="buy-card-left">
        <p class="main-text">Страховая программа <span class="bold main-text">Защита+</span></p>
        <p class="text">Одна из самых удобных и выгодных страховых программ предоставляемых гражданам России и
            иностранным гражданам.</p>
        <app-button class="buy-button">Купить</app-button>
    </div>
    <div class="buy-card-right">
        <img src="assets/bg-men.jpg">
    </div>
</div>

<h1 class="h1">О страховании</h1>

<div class="services-group">
    <img src="assets/service-icon-1.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-2.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-3.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-4.png" width="165" height="190" alt="" class="service-icon">
    <img src="assets/service-icon-5.png" width="165" height="190" alt="" class="service-icon">
</div>

<h1 class="h1">Условия, которые мы предоставим Вам</h1>

<div class="conditions-group">
    <div class="conditions-line">
        <img src="assets/doctors-1.png" alt="bg-doctors.png" height="492" width="492">
        <div class="text-block">
            <span class="conditions-big-text">20+</span>
            <p class="conditions-text">Высококвалифицированных врачей к которым вы можете обращаться 24/7</p>
        </div>
    </div>
    <div class="conditions-line">
        <div class="conditions-sub-line">
            <div class="best-doctor-group">
                <img src="assets/doctor-star.png" width="74" height="72" alt="">
                <span class="best-doctor-text">BestDoctor</span>
            </div>
            <p class="conditions-text">Доступ в один из лучших медицинских сервисов в России</p></div>
        <img src="assets/phone.png" alt="" width="351" height="488">
    </div>
    <div class="conditions-line">
        <img src="assets/runner.png" alt="runner.png">
        <div class="text-block">
            <span class="conditions-big-text">600 000₽</span>
            <p class="conditions-text">Сумма страховой защиты от нещастного случая</p>
        </div>
    </div>
</div>

<h1 class="h1 questions">Часто задаваемые вопросы </h1>

<div class="questions-block">
    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Сколько раз в год можно обратиться к терапевту или педиатру по данной программе?</p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Сколько раз в год можно обратиться к узкому специалисту?</p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Как получить консультацию врача? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Какие врачи-специалисты представлены в сервисе, кроме терапевта и педиатра? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>

    <app-exp-panel class="exp-panel">
        <p class="trigger-button">Как получить консультацию педиатра, если возраст ребенка меньше 1 года, и оформить на
            ребенка программу нельзя? </p>
        <p class="opened-panel">Количество обращений не ограничено в течение всего срока действия договора.</p>
    </app-exp-panel>
</div>

<h1 class="h1">Что делать, если произошел <br> страховой случай?</h1>

<div class="container">
    <div class="todo-block">
        <app-todo-item>
            <img src="assets/phone-call.png" width="50" height="50">
            <p class="text">Позвоните нам</p>
        </app-todo-item>

        <app-todo-item>
            <img src="assets/docs.png" width="45" height="50">
            <p class="text">Заполните <br> заявление</p>
        </app-todo-item>

        <app-todo-item>
            <img src="assets/status.png" width="50" height="50">
            <p class="text">Узнайте статус решения вопроса</p>
        </app-todo-item>

        <app-todo-item>
            <img src="assets/archive.png" width="50" height="50">
            <p class="text">Полный архив всех условий</p>
        </app-todo-item>
    </div>
</div>

<div class="popup-block">
    <app-popup class="popup">
        <p class="text">Наш номер:</p>
        <p class="phone-number">+7 495 967 13 01</p>
    </app-popup>
</div>


